@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Danfo&display=swap');

 
body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}


h1{
    font-family:Bitter;
}
:root{
    --primary-color: #07020D;
    --secondary-color: #16E0BD;
    --accent1-color: #78C3FB;
    --accent2-color: #89A6FB;

    --heading-font: 'Danfo', serif;
    --paragraph-font: 'Bitter', serif;

    --nav-background-color: #25d6f5d8;
    --nav-link-color: #31b3da;
    --nav-hover-link-color: #81e7e7;
    --nav-hover-background-color: #e4e7dd;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    padding: 20px;
    background-color: var(--secondary-color);
}
p{
    padding: 25px;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}